<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" type="text/css" href="/static/wave/style.css">
  <script type="text/javascript" src="/static/node_modules/d3/build/d3.js"></script>
  <script type="text/javascript" src="/static/node_modules/d3-wave/build/d3-wave.js"></script>
</head>
<body>
	<svg id="wave-graph"></svg>
	<script type="text/javascript">
	var svg = d3.select("#wave-graph");
	d3.json("/wave-data", function(signalData) {
		var signalRows = [];
		temporaryFlattenSignals(signalData, signalRows)
	    waveGraph.bindData(signalRows);
	    waveGraph.draw();
	})

	function resize() {
	    waveGraph.setSizes()
	    waveGraph.draw()
	}
	d3.select(window).on("resize", resize);

	</script>
</body>