{% extends "base.html" %}

{% block content %}
<ul>
	<li> <a href="/connections/">Component graph example</a> </li>
	<li> <a href="/connections-tests/">Component graph tests</a> </li>
	<li> <a href="/gantt/">Gantt graph example</a> </li>
	<li> <a href="/dependencies/">Dependencies view</a> </li>
	<li> <a href="/wave-test/">wave test</a> </li>
</ul>

<h3>expr tree</h3>
<ul>
	<li> <a href="/expr-tree/hwtHls.samples.bitonicSort/BitonicSorterHLS">BitonicSorterHLS</a> </li>
	<li> <a href="/expr-tree/hwtHls.samples.connection/HlsConnection">HlsConnection</a> </li>
	<li> <a href="/expr-tree/hwtHls.samples.connection/HlsSlice">HlsSlice</a> </li>
	<li> <a href="/expr-tree/hwtHls.samples.connection/HlsSlice2">HlsSlice2</a> </li>
	<li> <a href="/expr-tree/hwtHls.samples.mac/HlsMAC_example">HlsMAC_example</a> </li>
    <li> <a href="/expr-tree/hwtHls.samples.pid/PidControllerHls">PidControllerHls</a> </li>
</ul>
{% endblock %}