{% extends "base.html" %}

{% block content %}
<ul>
	<li> <a href="/connections/">Component graph example</a> </li>
	<li> <a href="/connections-elk/">Component graph example using ELK</a> </li>
	<li> <a href="/connections-tests/">Component graph tests</a> </li>
	<li> <a href="/gantt/">Gantt graph example</a> </li>
	<li> <a href="/dependencies/">Dependencies view</a> </li>
	<li> <a href="/wave-test/">wave test</a> </li>
</ul>

<h3>Elk component diagrams</h3>
<ul>
    {% for u in unitClasses %}
	<li> <a href="/connections-elk/{{u.__module__}}/{{u.__name__}}">{{u.__name__}}</a> </li>
    {% endfor %}
</ul>

<h3>expr tree</h3>
<ul>
	<li> <a href="/expr-tree/hwtHls.examples.bitonicSort/BitonicSorterHLS">BitonicSorterHLS</a> </li>
	<li> <a href="/expr-tree/hwtHls.examples.bitonicSort/BitonicSorterHLS_large">BitonicSorterHLS_large</a> </li>
	<li> <a href="/expr-tree/hwtHls.examples.crc/CrcCombHls">CrcCombHls</a> </li>
	<li> <a href="/expr-tree/hwtHls.tests.ifstm/SimpleIfStatementHls">SimpleIfStatementHls</a> </li>
	<li> <a href="/expr-tree/hwtHls.tests.connection/HlsConnection">HlsConnection</a> </li>
	<li> <a href="/expr-tree/hwtHls.tests.connection/HlsSlice">HlsSlice</a> </li>
	<li> <a href="/expr-tree/hwtHls.tests.connection/HlsSlice2">HlsSlice2</a> </li>
	<li> <a href="/expr-tree/hwtHls.examples.mac/HlsMAC_example">HlsMAC_example</a> </li>
    <li> <a href="/expr-tree/hwtHls.examples.mac/HlsMAC_example2">HlsMAC_example2</a> </li>
    <li> <a href="/expr-tree/hwtHls.examples.hls_expr_tree3/HlsExprTree3_example">HlsExprTree3_example</a> </li>
    <li> <a href="/expr-tree/hwtHls.examples.alapAsapDiffExample/AlapAsapDiffExample">AlapAsapDiffExample</a> </li>
    <li> <a href="/expr-tree/hwtHls.examples.pid/PidControllerHls">PidControllerHls</a> </li>
    <li> <a href="/expr-tree/hwtHls.examples.memCrc/MemCrc">MemCrc</a> </li>
</ul>
{% endblock %}