<!doctype html>
<html lang="en">
<!-- 
http://www.samsarin.com/project/dagre-d3/latest/demo/sentence-tokenization.html
http://www.samsarin.com/project/dagre-d3/latest/demo/tcp-state-diagram.html
http://plnkr.co/edit/r2zpfRJ3bsea1tqSBiyI?p=preview
https://bl.ocks.org/curran/5905182da50a4667dc00
 -->
<head>
  <meta charset="UTF-8">
  <title>tree</title>
  <style type="text/css">
        #mynetwork {
            width: 600px;
            height: 600px;
            border: 1px solid lightgray;
        }

		.links line {
		  stroke: #999;
		  stroke-opacity: 0.6;
		}
		
		.nodes circle {
		  stroke: #fff;
		  stroke-width: 1.5px;
		  fill: #aec7e8;
		}
		
		.labels text {
		   text-anchor: middle;
		}
  </style>
  <script src="/static/node_modules/d3/build/d3.js"></script>
</head>
<body>
<svg id="exprtree"></svg>
<script type="text/javascript">
    var chartWidth = 800,
      chartHeight = 500,
      nodeWidth = 20,
      nodeHeight = 20;
    
    var fill = d3.scaleOrdinal(d3.schemeCategory10)();
    
    var nodes = d3.range(100).map(function(i) {
        return {index: i};
    });
      
    var dragging = 0;
    
    var svg = d3.select("#exprtree")
                .attr("width", chartWidth)
                .attr("height", chartHeight);
    var simulation;

    d3.json("/expr-tree-data/", function(error, data) {
    	var levelCnt = 5;
        var y = d3.scaleBand()
                  .domain(d3.range(levelCnt))
                  .rangeRound([0, levelCnt * 100])
    	
    	 simulation = d3.forceSimulation()
         .force("link", d3.forceLink().distance(30))
         .force("collide", d3.forceCollide(function(d) {
        	                                    return d.r + 8
        	                              }).iterations(16) )
         .force("charge", d3.forceManyBody().strength(-1000))
         .force("center", d3.forceCenter(chartWidth / 2, chartHeight / 2))
         .force("y", d3.forceY(0))
         .force("x", d3.forceX(0))
 
        var link = svg.append("g")
            .attr("class", "links")
            .selectAll("line")
            .data(data.edges)
            .enter()
            .append("line")
            .attr("stroke", "black")
        
        var node = svg.append("g")
            .attr("class", "nodes")
            .selectAll("circle")
            .data(data.nodes)
            .enter()
            .append("circle")
            .attr("r", 15)
            .call(d3.drag()
                .on("start", drag_started)
                .on("drag", dragged)
                .on("end", drag_ended))
            
        var labels = svg.append("g")
           .attr("class", "labels")
           .selectAll("text")
           .data(data.nodes)
           .enter()
           .append("text")
		   .text(function(d) { return d.label })
           .attr("dy", ".35em")  // lower the text little bit
		   .attr("x", function(d) { return d.x; }) // set text on same possition as nodes
           .attr("y", function(d) { return d.y; });    
        
        var levelize = 0;

        var ticked = function() {
             var k = simulation.alpha();
        	 if(levelize && !dragging) {
                 k *= 10;
                 data.nodes.forEach(function(o, i) {
                      o.y += (y(o.level) - o.y) * k;
                 });
             }
        	
            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });
        
            node
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });
            labels
	 		    .attr("x", function(d) { return d.x; })
	            .attr("y", function(d) { return d.y; }); 
        }  
        
        simulation
            .nodes(data.nodes)
            .on("tick", ticked);
        
        simulation.force("link")
                  .links(data.edges);    

        // [HOTFIX]
        // wait unitl tree is partialy sorted and then start to order it to levels
        setTimeout(function () {levelize = 1;}, 1000);
        
        
        function drag_started(d) {
            if (!d3.event.active)
            	simulation.alphaTarget(0.3).restart();
            dragging = true;
            d.fx = d.x;
            d.fy = d.y;
        }
        
        function dragged(d) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
        }
        
        function drag_ended(d) {
            if (!d3.event.active)
            	simulation.alphaTarget(0);
            d.fx = null;
            d.fy = null;
            dragging = false;
        } 
        
    });
</script>
</body>
</html>